<!doctype html>
<html lang="en">

<%- include('header'); -%>

    <div v-if="page === 'sign-up'">
        <%- include('sign-up'); -%>
    </div>
    <div v-if="page === 'sign-in'">
        <%- include('sign-in'); -%>
    </div>
    <div v-if="page === 'reset-password'">
        <%- include('reset-password'); -%>
    </div>
    <div v-if="page === 'account'">
        <%- include('account'); -%>
    </div>
    <div v-if="page === 'explore'">
        <%- include('explore'); -%>
    </div>
    <div v-if="page === 'question'">
        <%- include('question'); -%>
    </div>

    <%- include('footer'); -%>

</html>